.nav {
    text-align: left;
}

.animated-text {
    @include moving-masked-text();
    text-align: center;
}

.company-description {
    color: white;
    padding: 40px 0;

    .container {
        flex-direction: column;
        padding: 50px 0;

        @media only screen and (max-width: $lg-breakpoint) {
            padding-top: 50px;
        }

        h2 {
            text-align: left;
            width: auto;
        }


        >div {

            &:first-child {
                //width: 30%;

                @include mobile-full-width($md-breakpoint, 90%);
            }

            &:last-child {
                width: 70%;

                @include mobile-full-width($md-breakpoint, 90%);
            }
        }

        .slick-track {
            align-items: center;
            display: flex;

            p {
                text-align: center;
                color: white;

                span {
                    display: block;
                    margin-top: 20px;
                    font-weight: bold;
                }
            }
        }
    }
}

.col2 {
    display: flex;

    @include flex-col-layout();

    >div {
        width: 50%;

        @include mobile-full-width();

        ul {
            //border: 1px solid white;
            list-style-type: none;
            padding-left: 0;

            li {
                padding: 5px 10%;
                width: 80%;

                &:nth-child(even) {
                    background: rgba(0, 0, 0, .3);
                }
            }
        }
    }
}

.striped-table {

    li {
        list-style-type: none;
        padding: 5px 28%;
        width: 44%;


        @media only screen and (max-width: $lg-breakpoint) {
            width: 90%;
            padding: 5px 3%;
        }

        &:nth-child(even) {
            background: #eee;
        }
    }
}

.mobile-full-width {
    @media only screen and (max-width: $xl-breakpoint) {
            width: 100%;
        }
}

    .grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        @include flex-col-layout($md-breakpoint);

        h3 {
            color: $white;
            font-weight: 300;
            text-align: center;
            text-shadow: #000 1px 0 10px;
        }

        div,
        >a {
            align-items: center;
            display: flex;
            min-height: 240px;
            flex-direction: column;
            overflow: hidden;
            justify-content: space-around;
            text-decoration: none;
        }

        &.three {

            >div,
            >a {
                width: 33.33%;

                @include mobile-full-width($md-breakpoint);
            }

            >div {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &.commercial-photo,
                &.commercial-photo-2 {
                    z-index: -1;
                }
            }
        }

        &.four {

            >div,
            >a {
                width: 25%;

                @include mobile-full-width($md-breakpoint);
            }
        }

        &.column {

            >a {
                >div {
                    flex-direction: column;
                }
            }
        }
    }