$red: #f00;
$black: #000000;
$white: #FFFFFF;

// site-specific colors

$text-color: #000104;
$baby-blue: #ddf0ff;

//spectrum colors

$pink: #c13c8d;
$orange: #f29925;
$yellow: #efc000;
$light-green: #89c53f;
$dark-green: #12b193;
$light-blue: #0BAEB9;
$dark-blue: #2A72AF;
$icon-text-color: #2793ae;
$blue-header: $icon-text-color;
$green-text: #017f01;
$grey-bg: rgba(0, 0, 0, 0.1);
$aqua-blue: #1e93b0;

$rainbow-gradient: linear-gradient(90deg, $pink, $orange, $yellow, $light-green, $dark-green, $light-blue, $dark-blue, $dark-green, $light-green, $yellow, $orange, $pink);
$green-gradient: linear-gradient(90deg, $dark-green, $light-green, $yellow, $light-green, $dark-green);
$pink-gradient: linear-gradient(90deg, $pink, $orange, $orange, $pink);
$pinkblue-gradient: linear-gradient(90deg, $pink, $light-blue, $light-blue, $pink);
$orange-gradient: linear-gradient(90deg, $yellow, $orange, $orange, $yellow);
$bluegreen-gradient: linear-gradient(90deg, $dark-green, $light-green, $light-blue, $dark-blue, $light-blue, $light-green, $dark-green);

// Case Study Styles

$case-study-teal: #00aab8;
$case-study-orange: #f17530;
$case-study-cream: #fce57c;
$case-study-maroon: #8a2332;
$case-study-gray: #97babd;
$case-study-sunmark-gray: #D4DAE2;
$case-study-lt-gray: #E8ECF0;
$case-study-belvedere-gray: #a2bdc2;
$case-study-beige: #F9F5E7;
$case-study-gold: #c79213;
$case-study-yellow: #f4b335;
$case-study-dark-yellow: #FDBA30;
$case-study-green: #075f2b;
$case-study-light-green: $light-green;
$case-study-orange: #f69331;
$case-study-blue: #290c54;
$case-study-lt-blue: #D2EFF7;
$case-study-plum: #ad0875;
$case-study-navy: #092f57;
$case-study-aqua: #00a8d0;
$case-study-lt-aqua: #2cbcdb;
$case-study-cfds-blue: #EBF8F8;
$case-study-cfds-dark-blue: #6acbcf;
$case-study-parks-blue: #2cbff7;
$case-study-li-blue: #185a7d;
$case-study-li-blue-bg: #E7F4F7;
$case-study-li-blue-box: #416ba9;
$case-study-li-green-box: #71a850;
$case-study-li-vid-bg: #63abc7;
$case-study-innerlakes-bg: #4847b4;
$case-study-aiport-bg: #43B6E7;
$case-study-peters-bg: #bf2e1a;
$case-study-cc-bg: #22a349;

$case-study-h1: 36px;
$case-study-h2: 32px;

// Fonts

$base-font-size: 16px;
$header-font: 'Exo 2', sans-serif;
$text-font: 'Open Sans', sans-serif;
$text-font-size: 1.2rem;

$width-limit: 1100px;

// Proper
$website-bg-height: 350px;

// Menu 

$menu-transition: all .3s ease-out;

// Breakpoints

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;


$client-box-padding: 0 20px;