/**  About page styles **/
.about {

	.description >div.client-info h1 {
		margin-top: 30px;
	}
}
.about-image-block {
	display: flex;

	img {
		width: 100%;
		height: auto;
	}

	@media only screen and (max-width: $lg-breakpoint) {
		flex-direction: column;
	}
}

.left-text-block {
	display: flex;

	h2,
	strong {
		width: 100%;
	}

	img {
		width: 100%;
		height: auto;
	}

	>div {

		&:first-child {
			padding: 0 40px 0 70px;
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: left;
			flex-direction: column;


			@media only screen and (max-width: $lg-breakpoint) {
				width: 90%;
				padding: 40px;
			}

		}
		&:nth-child(2) {
			width: 60%;

			@media only screen and (max-width: $lg-breakpoint) {
				width: 100%;
			}
		}


	}

	@media only screen and (max-width: $lg-breakpoint) {
		flex-direction: column;
	}
}

.right-text-block {
	display: flex;

	h2,
	strong {
		width: 100%;
	}

	img {
		width: 100%;
		height: auto;
	}

	>div {

		&:nth-child(2){
			padding: 0 40px 0 70px;
			width: 40%;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: left;
			flex-direction: column;


			@media only screen and (max-width: $lg-breakpoint) {
				width: 90%;
				padding: 40px;
			}

		}
		&:first-child {
			width: 60%;

			@media only screen and (max-width: $lg-breakpoint) {
				width: 100%;
			}
		}


	}

	@media only screen and (max-width: $lg-breakpoint) {
		flex-direction: column;
	}
}

.our-clients {
	padding: 60px 0 110px 0;

	.container {

		@media only screen and (max-width: $lg-breakpoint) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		h2 {
			@media only screen and (max-width: $lg-breakpoint) {
				margin-left: -30px;
			}
		}
	}

	img {
		margin: 50px 50px 0 0;
	}
}

.leadership,
.targeted {
	color: $black;
	display: flex;
	height: auto;
	margin-top: 0;
	overflow: hidden;

	@media only screen and (max-width: $lg-breakpoint) {
		flex-direction: column;
	}

	>div {

		&:first-child {
			padding: 10px 70px;
			width: 32%;

			p {
				margin-top: 0;
			}

			@media only screen and (max-width: $lg-breakpoint) {
				width: 70%;
			}
		}

		&:nth-child(2){
			width: 68%;

			img {
				height: auto;
				width: 100%;
			}

			@media only screen and (max-width: $lg-breakpoint) {
				width: 100%;
			}
		}
	}
}

.targeted {

	@media only screen and (max-width: $lg-breakpoint) {
		flex-direction: column-reverse;
	}

	>div {

		&:first-child {
			padding: 0;
			width: 60%;

			img {
				height: auto;
				width: 100%;
			}

			@media only screen and (max-width: $lg-breakpoint) {
				width: 100%;
			}
		}

		&:nth-child(2){
			padding: 20px 40px;
			width: 40%;

			img {
				height: auto;
				width: 100%;
			}

			@media only screen and (max-width: $lg-breakpoint) {
				width: 70%;
			}
		}
	}
}

.team {

	.container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 60px 0;
		text-align: center;

		p {
			margin: 0;
			line-height: 20px;

		}

		strong {
			margin: 20px 0 5px;
		}

		>div {
			display: flex;
			flex-wrap: flex;
			flex-direction: column;
			margin: 50px 20px 0 0 ;
		}
	}
}

.collaborative {
	padding: 40px 0;
}

.results-driven {
	padding: 70px 0;

	p {
		width: 50%;

		@media only screen and (max-width: $md-breakpoint) {
			width: 80%;
		}
	}

	img {
		position: absolute;
		top: 20px;
		right: -180px;

		@media only screen and (max-width: $md-breakpoint) {
			display: none;
		}
	}
}

.full-wrapper {
	position: relative;

	.results-icon {
		width: 220px;
		height: auto;
		position: absolute;
		right: -50px;
		top: -10px;
	}
}

.services-box {
	display: flex;

	@include flex-col-layout;

	>div {
		justify-content: center;
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;
		text-align: center;
		width: 50%;

		h2, p {
			padding: 0 40px;
			text-align: left;
		}

		img {
			margin: 0 auto;
			height: auto;
			width: 30%;

			&.magnet {
				width: 50%;
			}
		}

		@media only screen and (max-width: $md-breakpoint) {
			padding: 0;
			min-height: 300px;
			width: 100%;
		}
	}

	&:nth-child(even) {
		@media only screen and (max-width: $lg-breakpoint) {
			flex-direction: column-reverse;
		}
	}

	&:nth-child(odd) {
		@include flex-col-layout;
	}

	&.strategy {
		margin-top: 50px;
	}
}

.services-img {
	height: auto;
	width: 100%;
}

h1.services {
	@include moving-masked-text($bluegreen-gradient);
	font-weight: bold;
	margin: 40px 0 10px 0;
}
h2.services {
	font-size: 25px;
	margin-top: 10px;
}

.service-icons {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 50px auto;

	img {
		margin: 0 10px;
	}
}