
.blog-list {
	color: $black;

	.blog-entry {
		text-align: left;

		img {
			width: 100%;
			height: auto;
		}

		h2 {
			margin-bottom: 0;
		}

		a {
			color: $yellow;

			&:hover {
				color: $orange;
			}
		}

		.date {
			margin-bottom: 10px;
		}
	}
}

.blog-post {
	
	h1 {
		@media only screen and (max-width: $lg-breakpoint) {
			font-size: 45px;
		}
	}
	.container {
		text-align: left;
		max-width: 800px;

		img {
			width: 100%;
			height: auto;
		}
	}
	.blog-header {
		width: 100%;
	}	

}