
.blog-list {
	color: $black;

	.blog-entry {
		text-align: left;

		h2 {
			margin-bottom: 0;
		}

		a {
			color: $yellow;

			&:hover {
				color: $orange;
			}
		}

		.date {
			margin-bottom: 10px;
		}
	}
}

.blog-post {

	.container {
		text-align: left;
		max-width: 800px;

		@media only screen and (max-width: $lg-breakpoint) {
			font-size: 3.5rem;
			line-height: 3.9rem;
		}
	}	
}