
footer {
	text-align: left;

	>div {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		text-align: left;

		>div {

			&:last-child {
				text-align: right;
			}
			&:nth-child(2) {
				text-align: center;
			}
		}
	}

	.bottombar {
		background: $white;
		color: $black;
		padding: 30px;
	}
	
	.arrow {
		float: right;
		margin: -2px 0 0 5px;

		.fa-caret-right {
			font-size: 1.3rem;
		}
	}
}