// Header styles fof the Vibrant rebrand //


.header {
	background: rgba(0,0,0,.8);
	position: fixed;
	height: 90px;
	width: 100%;
	top: 0;
	z-index: 3;

		.toggle-wrapper {
			display: flex;
			flex-direction: column;
			width: 30px;
			height: 26px;
			position: absolute;
			margin: 30px 0 0 20px;
			z-index: 80;

			@media only screen and (min-width: $md-breakpoint) {
				display: none;
			}

			p {
				color: $white;
				font-size: 0.6em;
				margin: 30px 0 0 -1px;
			}
		}

	.menu-toggle {
			cursor: pointer;			

			.bg {
				display: block;
				width: 100%;
				height: 30px;
				position: absolute;
				
			}

			.bar {
				background: $white;
				display: block;
				height: 2px;
				position: absolute;
				width: 100%;
				top: 10%;

				&:nth-child(2){
					top: 50%;
				}
				&:nth-child(3){
					top: 90%;
				}
			}

			&.active {

				.bar {
					transition: $menu-transition;
					
					&:first-child {
						background: $yellow;
						transform: rotate(-45deg);
						top: 50%;
					}

					&:nth-child(2) {
						opacity: 0;
					}

					&:nth-child(3) {
						background: $yellow;
						transform: rotate(45deg);
						top: 50%;
					}
				}
			}

			&.inactive {

				.bar {
					transition: $menu-transition;
					
					&:first-child {
						background: $white;
						transform: rotate(0);
						top: 20%;
					}

					&:nth-child(2) {
						opacity: 1;
					}

					&:nth-child(3) {
						background: $white;
						transform: rotate(0);
						top: 80%;
					}
				}
			}
		}

		.logo div span {

			@media only screen and (max-width: $sm-breakpoint) {
				display: none;
			}
		}	

	.logo-container {
		align-items: center;
		background: $black;
		display: flex;
		font-size: 1.7em;
		height: 120px;
		justify-content: center;
		letter-spacing: 3px;
		z-index: 3;	
		position: relative;

		@media only screen and (max-width: $sm-breakpoint) {
			margin-left: 25px;
		}

		a {
			color: $white;
			text-decoration: none;
		}

		.top-date {
			letter-spacing: 1px;
			font-size: 11px;
			text-align: center;

			@media only screen and (max-width: $sm-breakpoint) {
				margin-left: -30px;
			}
		}
	}

	.navigation {
		align-items: center;
		display: flex;
		font-size: 1.1em;
		justify-content: center;
		padding-top: 30px;
		top: 0;
		width: 100%;
		z-index: 3;

		@media only screen and (max-width: $md-breakpoint) {
			padding: 0;
			justify-content: space-between;
		}

		.logo {
			position: absolute;
			margin-top: -30px;
			width: 80px;
			z-index: 100;

			@include translate-x-center();

			@media only screen and (max-width: $md-breakpoint) {
				margin-top: 13px;
			}
		}

		.nav {
            align-items: center;
            display: flex;
            padding: 0;
            margin: 0 0 10px 0;
            justify-content: space-around;
            text-align: right;
            z-index: 10;
            width: 80%;

            @include mobile-full-width();


            @media screen and (max-width: $md-breakpoint) {
                align-items: flex-end;
                background: black;
                display: none;
                font-size: 16px;
                min-height: 1000px;
                padding-top: 120px;
                position: fixed;
                top: 0px;
                width: 100%;
            }

            @include flex-col-layout($md-breakpoint);

            &.active {
            	display: block;
            }

            >li {
                color: blue;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: center;
                text-decoration: none;
                width: 100%;

                &:nth-child(3) {
                	margin-right: 90px;
                } 

                a {
                	color: $white;
                	text-decoration: none;

                	&:hover {
                		color: $yellow;
                		transition: color .3s ease-out;
                	}
                }

                >.submenu {
                    max-height: 0;
                    margin-top: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    top: 65px;
                    transition: all .4s ease-out;
                    z-index: 2;

                    .nav-item {
                    	background: $black;
                    	padding: 0;
                    	position: relative;

                    	&:first-child {

                    		@media screen and (max-width: $md-breakpoint) {
                    			border-top: 1px solid $yellow;
                    		}
                    		
                    	}

                    	a {
                    		//border-bottom: $yellow 1px solid;
                    		border-top: 0;
                    		color: $white;
                    		display: block;
                    		padding: 8px 10px;
                    		
                    		&:hover {
								color: $yellow;
                    		}
                    	}
                    }


                    @media screen and (max-width: $md-breakpoint) {
						position: relative;
						right: 0;
						top: 0;

						 >.nav-item {
						 	border: 0;
						 	height: auto;
						 	margin-top: 0;
						 	padding: 0;

						 	a {
						 		border: 0;
						 		color: white;
						 		padding: 0;
						 		margin: 0;

						 		&:hover {
						 			color: $yellow;
						 			background: none;
						 		}
						 	}
						 }
                    }
                }

                &:hover {
                    
                    .submenu {
                        max-height: 800px;
                    }
                }


                @media screen and (max-width: $md-breakpoint) {
                    font-size: 1.2em;
                    height: auto;
                    position: relative;
                    margin: 0;
                    text-align: center;
                    width: 100%;

                    a {
                        align-items: center;
                        text-align: center;
                        color: white;
                        //display: flex;
                        height: 40px;
                        width: 100%;

                        &:hover {
                            color: $yellow;
                        }
                    }
                }
            }
        }
    }

	.border {
		z-index: 3;
	}
}
