

.hero-video,
.tagline,
.specialties {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	h1 {
		font-size: 5rem;
    	line-height: 6rem;

		@include moving-masked-text();

		@media only screen and (max-width: $md-breakpoint) {
			font-size: 3.5rem;
			line-height: 3.9rem;
		}
	}
}

.hero-video {
	position: relative;
	min-height: 500px;
	max-height: 800px;
	overflow: hidden;

	@media only screen and (max-width: $md-breakpoint) {
		margin-top: 100px;
		min-height: 300px;
	}

	.video-container {
		top: 0;
		left: 0;
		width: 100%;

		@media only screen and (max-width: $md-breakpoint) {
			display: none;
		}

		video {
			width: 100%;
		}
	}

	.textbox {
		text-align: center;
		position: absolute;
		width: 100%;
	}

	h1, h2 {
		z-index: 2;
	}

	h1 {
		margin: 0;
	}

	h2 {
		margin: 10px auto 40px;
	}
}

.service-filters {
	display: flex;
	margin-top: -30px;
	flex-direction: column;

	ul {
		display: flex;
		justify-content: center;
		font-size: 1.2rem;
		margin: 10px auto;
		padding: 0;
		list-style-type: none;
		z-index: 200;

		a {
			color: $white;
			text-decoration: none;
		}

		@media only screen and (max-width: $sm-breakpoint) {
			font-size: 0.9rem;
			width: 96%;
		}

		li {
			border: 1px solid $white;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 13px 20px;
			background-position: 0 0;

			@media only screen and (max-width: $sm-breakpoint) {
				padding: 10px;
			}

			&:hover {
				cursor: pointer;
				background: $green-gradient;
				background-size: 150%;
				background-position: 120px 0;
				transform: translate3d(0, 0, 0);
				transition: all .5s ease-out;
			}

			&:first-child {

				&:hover {
					background: $pink-gradient;
					background-size: 150%;
					background-position: 120px 0;
					transition: all .5s ease-out;
				}		
			}
			&:nth-child(2) {

				&:hover {
					background: $bluegreen-gradient;
					background-size: 150%;
					background-position: 120px 0;
					transition: all .5s ease-out;
				}	
			}
			&:nth-child(3) {

				&:hover {
					background: $orange-gradient;
					background-size: 150%;
					background-position: 120px 0;
					transition: all .5s ease-out;
				}
			}
		}
	}
}

/*.service-description {

	>div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		display: none;

		&:last-child {
			display: block;
		}

		&.active {
			opacity: 1;
			max-height: 400px;
			transition: all .5s ease-out;
		}

		h3 {
			text-align: center;
		}

		p {
			margin: 0 auto 20px;
		}


		h2 {
			animation: movebackground 20s linear infinite alternate;
			background: $green-gradient;
			background-size: 130%;
			color: rgba(0,0,0,.1);
			background-clip: text;
			-webkit-background-clip: text;
		}

		&:first-child {

			h2 {
				background: $pink-gradient;
				background-clip: text;
				-webkit-background-clip: text;
			}
		}

		&:nth-child(3) {
			
			h2 {
				background: $orange-gradient;
				background-clip: text;
				-webkit-background-clip: text;
			}
		} 

		&:nth-child(2) {
			
			h2 {
				background: $bluegreen-gradient;
				background-clip: text;
				-webkit-background-clip: text;
			}
		} 

		ul {
			margin-top: 30px;
		}

		h1 {
			margin: 10px 0;
		}

		p {
			width: 85%;
			font-size: 1em;
			line-height: 1.5;
		}

		h4 {
			font-size: 1.2em;
			margin: 10px;
			text-align: left;
		}
	}
}*/

h2.featured {
	@include moving-masked-text($bluegreen-gradient, 10s);
	margin: 30px 0;
}

.services {
	margin-bottom: 50px;

	h2 {
		@include moving-masked-text($pink-gradient, 10s);
		margin: 0 auto 30px;
	}

	.icons {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		>div {
			width: 33.3%;
			display: flex;
			align-items: center;
			margin: 30px auto;

			@include mobile-full-width($md-breakpoint, 90%);

			@media only screen and (max-width: $md-breakpoint) {
			    justify-content: flex-start;
			}
			
			color: $icon-text-color;
			text-transform: uppercase;

			a {
				color: $icon-text-color;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					
					p {
						color: $yellow;
						transition: color .3s ease-out;
					}
				}
			}

			p {
				color: $icon-text-color;
				text-transform: uppercase;
			}

			img {
				margin-right: 20px;
				width: 80px;
			}
		}
	}
}

.click-below {
	display: block;
	margin-top: 20px;
}

.container {
	max-width: $width-limit;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 2;

	@media only screen and (max-width: $lg-breakpoint) {
	    width: 90%;
	}
	@media only screen and (max-width: $sm-breakpoint) {
	    width: 100%;
	}
}

.company-description {
	background: url('../images/icons/hp-bg.png');
	background-size: cover;
	margin-bottom: 50px;
	padding: 0;

	h2 {
		margin: 0;
		width: 1700px;

		@media only screen and (max-width: $md-breakpoint) {
			margin: 50px 0 30px;
			width: 100%;
		}
	}
	p {
		text-align: left;

		@media only screen and (max-width: $lg-breakpoint) {
			padding: 0 25px;
		}
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include flex-col-layout();
	}
}

.clients,
.video-section,
.website-section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto 50px;

	@media only screen and (max-width: $md-breakpoint) {
	    flex-direction: column;
	    width: 80%;
	}

	&.hidden {
		display: none;
	}

	>div {
		width: 32.8%;
		margin: 2px 0;
		max-width: 500px;
		overflow: hidden;
		position: relative;

		@media only screen and (max-width: $md-breakpoint) {
	    	width: auto;
		}

		img {
			width: 100%;
		}

		.info {
			align-items: center;
			border: 10px solid white;
			color: $white;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			height: 93%;
			justify-content: center;
			left: 0;
			opacity: 0;
			position: absolute;
			top: 0;
			width: 94%;
			z-index: 2;

			.info-bg {
					opacity: .9;
					background: -webkit-linear-gradient(left, $pink 0%, $orange 100%);
					background: -o-linear-gradient(left, $pink 0%, $orange 100%);
					background: linear-gradient(to right, $pink 0%, $orange 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bc928', endColorstr=$orange,GradientType=1 ); /* IE6-9 */	
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 1;
			}

			@media only screen and (max-width: $md-breakpoint) {
	    		height: 95.5%;
	    		width: 96%;
			}
			@media only screen and (max-width: $sm-breakpoint) {
	    		height: 94%;
	    		width: 95%;
			}

		}

		&:hover {

			.info {
				opacity: 1;
				transition: all 0.4s ease-out;

				.fas {
					font-size: 25px;
					margin-left: 5px;
				}

				.cta-prompt {
					display: flex;
					font-size: 1.1em;
					font-weight: bold;
					transform: translateX(20%);
					transition: transform .5s ease-out;
				}
			}	
		}

		h3 {
			text-align: center;
			width: 100%;
			padding: 0;
		}

		h3, p {
			z-index: 3;
			text-align: center;
		}

		p {
			width: 90%;
		}
	}

	h2 {
		@include moving-masked-text($pink-gradient, 30s);
		font-size: 2.5rem;
		line-height: 2.9rem;
		margin: 100px 0 0 40px;
		text-align: left;

		@media only screen and (max-width: $xl-breakpoint) {
	    	font-size: 1.7rem;
	    	line-height: 2rem;
	    	margin: 0;
	    	padding: 10px;
		}

		@media only screen and (max-width: $md-breakpoint) {
			margin: 250px 30px 0;
	    	padding: 0;
	    	font-size: 2rem;
	    	line-height: 2.3rem;
	    	text-align: center;
		}

		@media only screen and (max-width: $sm-breakpoint) {
			margin: 100px 30px 0;
		}
	}

	p {
		font-size: 1.3rem;
		font-weight: 200;
		line-height: 1.5rem;
		text-align: left;
		padding: 0 40px;

		&.save-text {
			text-align: left;

			a {
				color: $yellow;
				text-decoration: none;

				&:hover {
					font-weight: bold;
				}
			}

		@media only screen and (max-width: $xl-breakpoint) {
	    	font-size: 1rem;
	    	line-height: 1.4rem;
	    	margin: 0;
	    	padding: 10px;
		}

		@media only screen and (max-width: $md-breakpoint) {
				font-size: 1.3rem;
		    	margin: 30px 50px;
		    	line-height: 1.5rem;
		    	text-align: center;
			}

		@media only screen and (max-width: $md-breakpoint) {
				margin: 20px 0;
			}
		}
	}
}

.video-section,
.website-section {

	p {
		text-align: center;
		width: 100%;
		padding: 0;
	}

	.fas {
		color: white;
		font-size: 2.5em;
		opacity: 0.5;
		position: absolute;
		top: 15px;
		left: 15px;
		z-index: 3;
	}

	>div {

		&:hover {

			.fas {
				opacity: 1;
			}
		}
	}
}

.latest-news {
	margin-bottom: 80px;
	padding-top: 60px;

	.container {
		align-items: center;
		display: flex;
		justify-content: space-between;

		@include flex-col-layout();

		>div {
			background: $white;
			color: $black;
			display: flex;
			flex-direction: column;
			margin-top: 10px;
			min-height: 300px;
			padding: 20px;
			position: relative;
			width: 28%;

			@include mobile-full-width($lg-breakpoint, 80%);

			.date {
				font-style: italic;
				margin-bottom: 20px;
			}

			h2 {
				margin: 10px 0 0;
			}

			.read-more-link {
				bottom: 0;
				right: 10px;
				position: absolute;

				@include translate-x-center();
				
				a {
					color: $case-study-aqua;
					font-weight: 800;
					text-decoration: none;

					&:hover {
						color: $case-study-navy;
					}
				}

			}
		}
	}
}




