

.tagline,
.branding {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	@keyframes movebackground {
	  0% { background-position: 0 0; }
	  50% { background-position: -1000px 0; }
	  100% { background-position: 0 0; }
	}

	h1 {
		animation: movebackground 20s linear infinite alternate;
		background-size: 130%;
		background: $rainbow-gradient;
		color: rgba(0,0,0,.1);
		font-size: 4rem;
		line-height: 4.5rem;
		background-clip: text;
		margin-top: 200px;
		-webkit-background-clip: text;
	}

	ul {
		display: flex;
		font-size: 1.2rem;
		margin: 80px 0;
		padding: 0;
		list-style-type: none;

		@media only screen and (max-width: $sm-breakpoint) {
			font-size: 0.9rem;
		}

		li {
			border: 1px solid $white;
			padding: 13px 20px;
			background-position: 0 0;

			&:hover {
				cursor: pointer;
				background: linear-gradient(90deg, $light-green, $dark-green);
				background-size: 150%;
				background-position: 120px 0;
				transition: all .5s ease-out;
			}
		}
	}
}

.branding {
	height: 320px;

	ul {
		margin-top: 30px;
	}

	h1 {
		margin: 10px 0;
	}

	p {
		width: 80%;
		font-size: 1em;
		line-height: 1.5;
	}
}

.container {
	max-width: $width-limit;
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 2;

	@media only screen and (max-width: $lg-breakpoint) {
	    width: 90%;
	}
	@media only screen and (max-width: $sm-breakpoint) {
	    width: 100%;
	}
}

.clients {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;

	@media only screen and (max-width: $md-breakpoint) {
	    flex-direction: column;
	    width: 80%;
	}

	>div {
		width: 32.8%;
		margin: 5px 0;
		max-width: 500px;
		overflow: hidden;
		position: relative;

		@media only screen and (max-width: $md-breakpoint) {
	    	width: auto;
		}

		img {
			width: 100%;
		}

		.info {
			align-items: flex-start;
			border: 10px solid white;
			color: $white;
			display: flex;
			flex-direction: column;
			height: 93%;
			justify-content: center;
			position: absolute;
			opacity: 0;
			width: 94%;
			z-index: 2;
			top: 0;
			left: 0;

			.info-bg {
					opacity: .8;
					background: -webkit-linear-gradient(left, #4bc928 0%, #fcfc46 100%);
					background: -o-linear-gradient(left, #4bc928 0%, #fcfc46 100%);
					background: linear-gradient(to right, #4bc928 0%, #fcfc46 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bc928', endColorstr='#fcfc46',GradientType=1 ); /* IE6-9 */	
					position: absolute;
					width: 100%;
					height: 100%;
					z-index: 1;
			}

			@media only screen and (max-width: $md-breakpoint) {
	    		height: 96%;
	    		width: 96%;
			}

		}

		&:hover {
			.info {
				opacity: 1;
				transition: all 0.4s ease-out;
			}	
		}

		h3 {
			padding: 0 20px;
			margin-bottom: 0;
		}

		h3, p {
			z-index: 3;
		}
	}

	h2 {
		background: $pink-gradient;
		background-size: 130%;
		background-clip: text;
		-webkit-background-clip: text;
		font-size: 2.5rem;
		line-height: 2.9rem;
		margin: 100px 0 0 40px;
		color: rgba(0,0,0,.1);
		animation: movebackground 30s linear infinite alternate;
		text-align: left;

		@media only screen and (max-width: $xl-breakpoint) {
	    	font-size: 1.7rem;
	    	line-height: 2rem;
	    	margin: 0;
	    	padding: 10px;
		}

		@media only screen and (max-width: $md-breakpoint) {
			margin: 250px 30px 0;
	    	padding: 0;
	    	font-size: 2rem;
	    	line-height: 2.3rem;
	    	text-align: center;
		}

		@media only screen and (max-width: $sm-breakpoint) {
			margin: 100px 30px 0;
		}
	}

	p {
		font-size: 1.3rem;
		font-weight: 200;
		line-height: 1.5rem;
		text-align: left;
		padding: 0 40px;

		&.save-text {
			@media only screen and (max-width: $xl-breakpoint) {
		    	font-size: 1rem;
		    	line-height: 1.4rem;
		    	margin: 0;
		    	padding: 10px;
		    	text-align: center;
			}

			@media only screen and (max-width: $md-breakpoint) {
					font-size: 1.3rem;
			    	margin: 30px 50px;
			    	line-height: 1.5rem;
				}
			}
	}
}