
.internal {
	background: $white;
	padding: 150px 0 50px;

	button.btn {
		background: $light-blue;
		border-radius: 30px;
		border: none;
		color: $white;
		padding: 10px 20px;
		transition: all .3s ease-out;

		&:hover {
			background: $dark-blue;
		}
	}

	&.black {
		background: $black;
	}

	.blog-list {
		text-align: center;

		h1 {
			color: $black;
			font-size: 2.2em;
			margin: 0 auto 60px;
		}

		.blog-entry {
			border: 1px solid #ccc;
			margin: 0 auto 50px;
			max-width: 800px;
			padding: 20px;

			&:hover {
				-webkit-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 18px -4px rgba(0,0,0,0.75);
			}

			h2 {
				margin-top: 20px;
			}
		}
	}

	.container {
		@media only screen and (max-width: $lg-breakpoint) {
	    	width: 90%;
		}
	}

		.page-header {
	    	background: $white;
	    	margin-top: 80px;
	    	padding: 0;
	    	color: $white;

	    	h1 {
	    		margin-top: 80px;
	    	}
	    }

	.content {
	    background: $white;
	    color: $black;
	}

	.yellow {
		color: $yellow;
	}

	.contact {

		p,
		strong {
			font-size: 1.3rem;
			margin-top: 50px;
		}
		
	}

	.odometer {
		font-size: 3em;
	}
}

.internal-hero-image {
	margin-top: 70px;
	width: 100%;

	img {
		width: 100%;
		height: auto;
	}
}