
.internal {
	background: $white;
	padding: 150px 0 50px;

	.container {
		@media only screen and (max-width: $lg-breakpoint) {
	    	width: 90%;
		}
	}

		.page-header {
	    	background: $white;
	    	margin-top: 80px;
	    	padding: 0;
	    	color: $white;

	    	h1 {
	    		margin-top: 80px;
	    		/*background: $black;
	    		color: $white;*/
	    	}
	    }

	.content {
	    background: $white;
	    color: $black;

		/*@media only screen and (max-width: $lg-breakpoint) {
	    	width: 100%;
	    	padding: 0 8%;
		}*/
	}

	.yellow {
		color: $yellow;
	}

	.contact {

		p,
		strong {
			font-size: 1.3rem;
			margin-top: 50px;
		}
		
	}
}